<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">

<head th:replace="menu/import::semantic">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>导航页</title>
</head>
<body>
	<div class="ui two column doubling stackable grid container">
        <div class="column" style="background-color: #AEDD81">
            
        </div>
        <div class="column" style="background-color: #FC9D99; height: 1000px">
           
        </div>
    </div>
	
</body>
<script type="text/javascript">

</script>
</html>