<!doctype html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">

<head th:replace="menu/import::semantic">
<title>功能管理系统</title>
</head>
<body>
<div id="container" style="position: fixed;top: 0;left: 0;width: 100%;height: 100%;"></div>
	<div class="ui middle aligned center aligned grid" style = "width :380px;position: absolute;left:40%;top:15%;">
		<div class="column">
			<div class="ui items">
				<img th:src="@{/images/logo.png}" src="/images/logo.png" />
				<div class="item">
					<div class="bottom aligned content">
						<div class="header">功能管理系统</div>
					</div>
				</div>
			</div>

			<div class="ui message" th:classappend="${msgType}"
				th:if="${resultMsg} != null">
				<div class="content">
					<p th:text="${resultMsg}"></p>
				</div>
			</div>
			<form th:action="@{/doLogin}" method="post" class="ui large form">
				<div class="ui stacked segment">
					<div class="ui field">
						<div class="ui left icon input">
							<i class="user icon"></i> <input type="text" name="userName"
								th:value="${userName}" placeholder="用户名">
						</div>
					</div>

					<div class="ui field">
						<div class="ui left icon input">
							<i class="lock icon"></i> <input type="password" name="password"
								placeholder="密码">
						</div>
					</div>

					<input type="submit" value="登录" class="ui fluid large red button">
				</div>
			</form>
		</div>
	</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery.particleground.min.js}"></script>
<script type="text/javascript">
  $(function() {
    var self = window;
    var top = window.parent.parent.parent;
    if (top != self) {
      top.location = self.location;
    }

      //初始化页面背景
      $('#container').particleground({
          dotColor: 'rgba(61,161,205,.1)',
          lineColor: 'rgba(61,161,205,.3)',
          minSpeedX: 0.1,
          maxSpeedX: 0.5,
          minSpeedY: 0.1,
          maxSpeedY: 0.5,
          density: 30000,
          proximity: 200
      });
  });
</script>
</html>
