<!doctype html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head th:replace="menu/import::semantic">
<title>修改用户密码</title>
</head>
<body>
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<div class="ui items">
				<div class="item">
					<div class="bottom aligned content">
						<div style="margin-top: 15px;" class="header">修改密码</div>
					</div>
				</div>
			</div>
			<script th:src="@{/js/updatePassword.js}"></script>
			<div class="ui message">
				<div id="content" class="content"></div>
			</div>
			<form th:action="@{/user/updatePassword}" class="ui form segment"
				method="post" id="form">
				<div class="ui stacked segment">
					<div class="ui field">
						<div class="ui left icon input">
							<i class="lock icon"></i> <input type="password"
								name="oldPassword" onblur="checkOldPwd()" placeholder="原密码">
							<div id="check" style="display: none; line-height: 38px;"
								class="ui right icon">
								<i class="check green circle icon"></i>
							</div>
							<div id="remove" style="display: none; line-height: 38px;"
								class="ui right icon">
								<i class="remove red circle icon"></i>
							</div>
						</div>
					</div>
					<div class="ui field">
						<div class="ui left icon input">
							<i class="lock icon"></i> <input type="password"
								name="newPassword" onblur="checkNewPwd()" placeholder="新密码">
							<div id="check1" style="display: none; line-height: 38px;"
								class="ui right icon">
								<i class="check green circle icon"></i>
							</div>
							<div id="remove1" style="display: none; line-height: 38px;"
								class="ui right icon">
								<i class="remove red circle icon"></i>
							</div>
						</div>
					</div>
					<div class="ui field">
						<div class="ui left icon input">
							<i class="lock icon"></i> <input type="password"
								name="verifyPassword" onblur="checkVerifyPwd()"
								placeholder="确认密码">
							<div id="check2" style="display: none; line-height: 38px;"
								class="ui right icon">
								<i class="check green circle icon"></i>
							</div>
							<div id="remove2" style="display: none; line-height: 38px;"
								class="ui right icon">
								<i class="remove red circle icon"></i>
							</div>
						</div>
					</div>
					<button id="submit1" class="ui fluid large red button"
						onclick="modifyPwd()" type="button">修改</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>