<!doctype html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">

<head th:replace="menu/import::semantic">
<meta charset="UTF-8"/>
<title id="title">系统参数添加页面</title>
</head>
<body>
	<div class="ui modal" id="addDiv" style="overflow: auto;">
		<form th:action="@{/config/add}" id="filterForm" class="ui form"
			method="post" th:fragment="addContent">
			<div class="three fields">
				<div class="field">
					<label>参数名:</label> <input type="text"
                          name="configNo" id="configNo" required>
				</div>

				<div class="field">
					<label>参数值:</label><input type="text"
                        name="value" id="value" required>
				</div>
				<div class="field">
					<label>参数描述:</label> <input type="text"
						 name="descrC" id="descrC">
				</div>
			</div>
			<div style="float: left; margin-top: 150px">
				<div class="ui buttons">
					<button class="ui red button" type="submit">保存</button>
				</div>
				<div class="ui buttons">
					<button class="ui red button" type="button" onclick="clearIs()">重置
					</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>