<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="menu/import::semantic">
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>EXCEL</title>
</head>
<body>
<div class="ui two column doubling stackable grid container">
        <div class="column" style="background-color: #AEDD81">
       <div class="ui  floated buttons" style = "margin-top :10px">
            <a class="ui red button" th:href="@{/excel/upload}"
                >EXCEL转SQL</a>
            </div>   
            
           
        </div>
         <div class="column" style="background-color: #FC9D99; height: 1000px">
        </div>
       
    </div>
</body>

<script type="text/javascript">
    
</script>

</html>
